.vscode/settings.json
Papers/1109.3317.pdf
Papers/chiang11-icdar.pdf
Papers/Dwivedi_An_OCR_for_Classical_Indic_Documents_Containing_Arbitrarily_Long_Words_CVPRW_2020_paper.pdf
Papers/Hybrid model.pdf
Papers/Invoice-Publishedl.pdf
Papers/paper1.pdf
Papers/Table net.pdf
Papers/Text_Extraction_and_Recognition_from_Image_using_N.pdf
large-receipt-image-dataset-SRD.zip
Problem statement.docx
QS-OCR-Large.tar.gz
